<!DOCTYPE html>
<html>
<head>
<title>{{item.title}} - dbatley.com</title>
<link rel="stylesheet" href="../../media/style.css" />
<meta property="og:title" content="{{item.title}}" />
<meta property="og:description" content="{{item.description}}" />
<meta property="og:type" content="article" />
<meta property="og:image" content="{{item.image}}" />
</head>
<body>
<img class="main-image" src="{{item.image}}" alt="banner image" />
{{item.html|safe}}
<div class="footer">
    <div class="more"><a href="../../">More blog posts</a></div>
    <div class="date">{{item.rfc822}}</div>
</div>
</body>
</html>
